{% assign tag = tag | default: 'all' %}

{% assign count = 0 %}
  {% assign limit = 2 %}

<section class="section">
  <div class="blog__section-container container">
    {% for article in blog.articles %}
      {% if article.tags contains tag or showAll %}
        {% assign count = count | plus: 1 %}

        {% if section.settings.blog_posts_per_row == 1 %}
          {% if article.image != blank %}
            <div class="one-whole column article_image">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">
                {% render 'image-element',
                        image: article.image,
                        alt: article.image.alt
                %}
              </a>
            </div>
            <div class="one-whole column article">
          {% else %}
            <div class="one-whole column article">
          {% endif %}
        {% else %}
          <div class="{% render 'column-width', value: section.settings.blog_posts_per_row %} {% if tag == 'popular'%}column medium-down--one-whole{% else %}column medium-down--one-half{% endif %} article">
            {%- comment -%}Get image from first image added in post content{%- endcomment -%}
            {% assign backupImage = article.image.src %}
            {% assign article_image = article.content | split: 'src="' %}
            {% assign article_image = article_image[1] | split: '"' | first | default: backupImage %}

            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              <div class="article__cover-image" style='background-image: url("{{ article_image }}");'></div>
            </a>
        {% endif %}

          {% if section.settings.blog_tags %}
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}

          <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>

          <p class="blog_meta">{% if section.settings.blog_author or section.settings.blog_date or section.settings.blog_comment_count %}
            {% if section.settings.blog_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if section.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          {% endif %}</p>

          <p class="blog_description">{{ article.excerpt_or_content | strip_html | truncate: 150 }}</p>

          {% if article.excerpt != blank %}
              {%- assign postexcerpt = article.excerpt | size -%}
              {% if postexcerpt > 100 %}
                {%- assign excerptlength = 'lg' -%}
              {% elsif postexcerpt <= 50 %}
                {%- assign excerptlength = 'sm' -%}
              {% endif %}
              <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                {{ article.excerpt }}
                <span class="truncation-fade"></span>
              </div>
          {% endif %}
          {% if section.settings.read_more_link %}
            <a class="read-more" href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</span></a>
          {% endif %}
        </div>


        {% if count > limit %}
          {% break %}
        {% endif %}

      {% endif %}
    {% endfor %}
  </div>
</section>