{% if template contains 'blog' %}
  <!-- template contains blog -->
  {% assign taghandle=current_tags.first | handle %}
  <!-- {{ taghandle }} -->
  {% if taghandle != blank %}
    {% assign usetaghandle=taghandle | append:"_feature_image" | prepend: "show_" %}
    {% assign imgurl=taghandle | append:"_feature_image" %}
    {% assign feature_image = section.settings[imgurl] | img_url: "2048x" %}
    {% assign feature_text=taghandle | append:"_feature_description" %}
    {% assign feature_title=taghandle | append:"_feature_title" %}
    {% assign feature_url=taghandle | append:"_feature_link" %}

    <!-- {{ usetaghandle }} -->
    <!-- {{ imgurl }} -->
    <!-- {{ feature_image }} -->
    <!-- {{ feature_text }} -->
    <!-- {{ feature_title }} -->
    <!-- {{ feature_url }} -->

    <!-- {{ section.settings[usetaghandle] }} -->
    <!-- {{ feature_image }} -->
    <!-- {{ section.settings[feature_text] }} -->
    <!-- {{ section.settings[feature_title] }} -->
    <!-- {{ section.settings[feature_url] }} -->

    {% if section.settings[usetaghandle] %}
    <div class="topic-featurepost a1">
      <div class="image-he-feature"
        style="background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ),url('{{ feature_image }}') no-repeat  center center / cover;">

        <!--<img src="{{imgurl | img_url: "2048x"}}">-->
        <div class="topic-featuretext">
          <span class="topic-featuretitle"><a href="{{ section.settings[feature_url]}}">{{ section.settings[feature_title]}}</a></span>
          <span class="topic-feature_text">{{ section.settings[feature_text]}}</span>
        </div>
      </div>
    </div>
    {% endif %}

  {% else %}
  <!-- template DOESNT contains blog -->

  {% comment %}
    {% if settings.use-feature-image %}
    <div class="topic-featurepost a2">
      <div class="image-he-feature"
        style="background:url('{{'blog-feature-image.png' | asset_url}}') no-repeat  center center / cover;">
        <div class="topic-featuretext">
          <span class="topic-featuretitle main-blog-title-big">{{ section.settings.blog-text}}</span>
          <span class="topic-feature_text"><a href="{{ section.settings.blog-feature-image-url}}">Read More</a></span>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="blog-main-page-mailinglist">
      {% include 'mailing-list' %}
    </div>
  {% endcomment %}

  {% endif %}

{% endif %}