<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

 {% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% if section.settings.promo_text != blank and section.settings.show_announcement %}
  {% if section.settings.promo_home_page and template.name == 'index' %}
    <div class="promo-banner js-promo_banner--index sticky-promo--{{ section.settings.fixed_header }}">
      {% if section.settings.announcement_link %}
        <a class="promo-banner__link" href="{{ section.settings.announcement_link }}">
      {% endif %}

      <p class="promo-banner__text">{{ section.settings.promo_text }}</p>

      {% if section.settings.announcement_link %}
        </a>
      {% endif %}

      <button class="promo-banner__close icon-close"></button>
    </div>
  {% elsif section.settings.promo_home_page == false %}
    <div class="promo-banner js-promo_banner--global sticky-promo--{{ section.settings.fixed_header }}">
      {% if section.settings.announcement_link %}
        <a class="promo-banner__link" href="{{ section.settings.announcement_link }}">
      {% endif %}

      <p class="promo-banner__text">{{ section.settings.promo_text }}</p>

      {% if section.settings.announcement_link %}
        </a>
      {% endif %}

      <button class="promo-banner__close icon-close"></button>
    </div>
  {% endif %}
{% endif %}

<div id="header" class="mm-fixed-top Fixed mobile-header mobile-sticky-header--{{ section.settings.fixed_header }}" data-search-enabled="{{ section.settings.search_enabled }}">
  <a href="#nav" class="icon-menu" aria-haspopup="true" aria-label="{{ 'layout.general.menu' | t }}"><span>{{ 'layout.general.menu' | t }}</span></a>
  <a href="{{ shop.url }}" title="{{ shop.name }}" class="mobile_logo logo">
    <img src="{{ "synchro-wordmark-dark.svg" | asset_url }}" alt="{{shop.name}}" width="129" height="20">
    {%- comment -%}
    {% if section.settings.logo_mobile != blank %}
    {% render 'image-element',
    image: section.settings.logo_mobile,
    alt: shop.name,
    back_to_basics: true
    %}
    {% elsif section.settings.logo != blank %}
    {% render 'image-element',
    image: section.settings.logo,
    alt: shop.name,
    back_to_basics: true
    %}
    {% else %}
    {{ shop.name }}
    {% endif %}
    {%- endcomment -%}
  </a>
  {%- comment -%}@dominic: add `cart-count` class for slide-cart js integration{%- endcomment -%}
  <a href="#cart" class="icon-cart cart-button right"><span class="cart-count">{{ cart.item_count }}</span></a>
</div>

<div class="hidden">
  <div class="mobile_header_logo">
    <img src="{{ "synchro-wordmark-light.svg" | asset_url }}" alt="{{shop.name}}">
    <a href="/account" class="header-account-link account-link"><span class="icon"></span> My Account</a>
  </div>
</div>

<div class="hidden">
  <div id="nav">
    <ul class="mm-nolistview menu-container">
      <div class="container menu-wrapper">
        <div class="one-whole column menu-top-links">
          <div class="container">
            <div class="one-half column mobile-menu">
              <h2>Shop</h2>
              {% for link in linklists[section.settings.mobile_linklist_1].links %}
                {% if link.links == blank %}
                  <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% else %}
                  <li {% if link.active %}class="Selected"{% endif %}>
                    {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                      <span>{{ link.title }}</span>
                    {% else %}
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                    <ul>
                      {% for sub_link in link.links %}
                        {% if sub_link.links == blank %}
                          <li {% if sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                        {% else %}
                        <li {% if sub_link.active %}class="Selected"{% endif %}>
                          {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                            <span>{{ sub_link.title }}</span>
                          {% else %}
                            <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                          {% endif %}
                          <ul>
                            {% for sub_sub_link in sub_link.links %}
                              <li {% if sub_sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </div>
            <div class="one-half column mobile-menu">
              <h2>Articles</h2>
              {% for link in linklists[section.settings.mobile_linklist_2].links %}
              {% if link.links == blank %}
              <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% else %}
              <li {% if link.active %}class="Selected"{% endif %}>
                {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                <span>{{ link.title }}</span>
                {% else %}
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
                <ul>
                  {% for sub_link in link.links %}
                  {% if sub_link.links == blank %}
                  <li {% if sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                  {% else %}
                  <li {% if sub_link.active %}class="Selected"{% endif %}>
                    {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                    <span>{{ sub_link.title }}</span>
                    {% else %}
                    <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                    {% endif %}
                    <ul>
                      {% for sub_sub_link in sub_link.links %}
                      <li {% if sub_sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="one-whole column menu-bottom-widget">
          {% include 'effective-altruism-widget', orientation: 'landscape' %}
        </div>
        {%- comment -%}
        <div class="one-whole column">
          <a href="/account" class="drawer-account-link account-link"><span class="icon"></span> My Account</a>
        </div>
        {%- endcomment -%}
      </div>
      {%- comment -%}
      {% if shop.customer_accounts_enabled %}
      {% if customer %}
      <li>
        <a href="{{ routes.account_url }}" data-no-instant>{{ customer.name }}</a>
      </li>
      <li>
        <a href="{{ routes.account_logout_url }}" id="customer_logout_link" data-no-instant>{{ 'layout.customer.log_out' | t }}</a>
      </li>
      {% else %}
      <li>
        <a href="{{ routes.account_login_url }}" id="customer_login_link" data-no-instant>{{ 'layout.customer.log_in' | t }}</a>
      </li>
      {% endif %}
      {% endif %}
      {%- endcomment -%}

      {% if currency_selector == true or locale_selector == true %}
        {% render 'localization-switcher-mobile',
                additional_classes: 'mobile-menu__disclosure',
                currency_selector: currency_selector,
                locale_selector: locale_selector
        %}
      {% endif %}

      {%- comment -%}@dominic: hide social icons in mobile menu{%- endcomment -%}
      <div class="social-links-container hidden">
        {% render 'social-icons' %}
      </div>
    </ul>
  </div>

  {%- assign checkout_url = '/checkout' -%}

  {% for locale in shop.enabled_locales %}
    {% if locale.primary == true %}
      {%- assign defaultLocale = locale.iso_code -%}

      {% if defaultLocale != request.locale.iso_code %}
        {%- assign checkout_url = request.locale.iso_code | prepend: '/' | append: '/checkout' -%}
      {% endif %}
    {% endif %}
  {% endfor %}

  <form action="{{ checkout_url }}" method="post" id="cart" class="side-cart-position--{{ settings.side_cart_position }}">
    <ul data-money-format="{{ shop.money_format | strip_html }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
      <li class="mm-subtitle">
        <a class="continue ss-icon" href="#cart">
          <span class="icon-close"></span>
        </a>
      </li>

      {% if cart.item_count == 0 %}
        <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
      {% else %}
        {% for item in cart.items %}
          <li>
            <a href="{{ item.url }}" class="cart__item {% if forloop.last %}last_cart_item{% endif %}">
              {% if item.image %}
                <div class="cart__image">
                  {% render 'image-element',
                          image: item.image,
                          alt: item.title
                  %}
                </div>
              {% endif %}

              <div class="cart__info">

                <div class="cart__description">
                  {{ item.product.title }}

                  {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                    {% for option in item.product.options %}
                      {% if forloop.first %}- {% endif %}{{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                    {% endfor %}
                  {% endunless %}

                  {% if item.properties %}
                    {% for p in item.properties %}
                      {% if p.last != blank %}
                        <div class="line-item">
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <div class="cart__price">
                    {% if item.line_level_discount_allocations.size > 0 %}
                      <span class="money">
                        {% render 'price-element', price: item.line_price %}
                      </span>
                    {% endif %}

                    <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                      {% render 'price-element', price: item.price %}
                    </span>

                    {% if item.line_level_discount_allocations.size > 0 %}
                      {% for discount_allocation in item.line_level_discount_allocations %}
                        <span class="notification-discount">
                          <strong>{{ 'cart.general.discount' | t }}:</strong> {{ discount_allocation.discount_application.title }} (- <span class="money">{% render 'price-element', price: discount_allocation.amount %}</span>)
                        </span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

                <div class="cart__quantity">
                  <span class="icon-minus minus"></span>
                  <input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                  <span class="icon-plus plus"></span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
        {% if cart.cart_level_discount_applications != blank %}
          <li class="mm-label">
           {% for discount_application in cart.cart_level_discount_applications %}
             <p class="mm-counter price mm-discount-label">{{ discount_application.title }} <span>(- <span class="money">{% render 'price-element', price: discount_application.total_allocated_amount %}</span>)</span></p>
           {% endfor %}
          </li>
        {% endif %}

        <li class="mm-label">
          <a href="{{ routes.cart_url }}" class="cart__item-subtotal">
            <strong>
              {{ 'layout.general.subtotal' | t }}
            </strong>
            <span class="mm-counter price">
              <span class="money">
                {% render 'price-element', price: cart.total_price %}
              </span>
            </span>
          </a>
        </li>

        <li class="mm-subtitle">
          {% if settings.display_special_instructions %}
            <textarea id="cart-note" name="note" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
          {% endif %}

          {% if settings.display_tos_checkbox %}
            <aside class="tos tos_checkbox">
              <input type="checkbox" class="tos_agree" id="sliding_agree" required />
              <label class="tos_label" for="sliding_agree">
                {{ settings.tos_richtext }}
              </label>
            </aside>
          {% endif %}

          <span class="mm-action_buttons">
          {% if settings.display_view_cart %}
          	<a href="{{ routes.cart_url }}" class="action_button edit_cart left">{{ 'layout.general.edit_cart' | t }}</a>
          {% endif %}
          <input type="submit" class="action_button {% if settings.display_view_cart or settings.side_cart_position == "bottom" %}left{% else %}full-width{% endif %}" value="{{ 'layout.general.checkout' | t }}" />
          </span>
        </li>
      {% endif %}
    </ul>
  </form>
</div>

{% if template contains "index" %}
  {%- assign feature_image = true -%}
{% elsif template contains "collection" %}
  {%- assign feature_image = true -%}
{% elsif template contains "blog" %}
  {%- assign feature_image = true -%}
{% elsif template contains "article" %}
  {%- assign feature_image = true -%}
{% elsif template contains "contact" %}
  {%- assign feature_image = true -%}
{% else %}
  {%- assign feature_image = false -%}
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<div class="header
            header-dropdown-position--{{ section.settings.dropdown_position }}
            header-background--{{ settings.header_background }}
            header-transparency--{{ settings.transparent_header }}
            header-text-shadow--{{ settings.header_text_shadow }}
            sticky-header--{{ section.settings.fixed_header }}
            {% if section.settings.fixed_header %}
              mm-fixed-top
            {% else %}
              is-absolute
            {% endif %}
            {% if feature_image %}
              is-absolute
            {% endif %}
            {% if settings.header_background %}
              header_bar
            {% elsif feature_image %}
              header_bar
            {% endif %}"
            data-dropdown-position="{{ section.settings.dropdown_position }}">

            
  <!-- @dominic: Start – Header from previous theme -->
  <div class="before-header current-header header-area-part">
    <div class="main-header top-header">
      <div class="before-main-header">
        <div class="before-main-header-left">
          <div class="header-actions header-actions-left">
            <span class="drawer-toggle"></span>
          </div>
          <ul class="topmenulinklist">
            {% for link in linklists.top-menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="before-main-header-right">
          <div class="header-actions">
            <ul class="rightlist">
              {% if settings.show-currency-switcher %}
              <li class="currency-switcher">
                <div class="select-wrapper">
                  <div class="selected-currency"></div>
                  <select id="currencies" name="currencies">
                    {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                    {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
                    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                    {% for code in supported_codes %}
                    {% if code != shop.currency and codes contains code %}
                    <option value="{{ code }}">{{ code }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </li>
              {% endif %}
              <!-- @dominic: Start – Old Search -->
              {% if settings.header-show-search %}
              <!-- <li class="search-form">
                <form class="" action="/search" method="get">
                  <input class="" name="q" type="text" autocomplete="off" aria-label="Search">
                </form>
              </li> -->
              {% endif %}
              <!-- @dominic: End – Old Search -->
              {% if section.settings.search_enabled %}
                <li class="search">
                  <a href="{{ routes.search_url }}" title="{{ 'general.search.title' | t }}" id="search-toggle"><span class="icon-search"></span></a>
                </li>
              {% endif %}

              <li class="cart">
                {%- comment -%}@dominic: add `cart-count` class for slide-cart js integration{%- endcomment -%}
                <a href="#cart" class="icon-cart cart-button"><span class="cart-count">{{ cart.item_count }}</span></a>
                <a href="{{ routes.cart_url }}" class="icon-cart cart-button no-js-only"><span>{{ cart.item_count }}</span></a>
              </li>
              <!-- @dominic: Start – Old Cart -->
              {% if settings.header-show-cart %}
              <!-- <li>
                <a class="cart-link right" href="#cart"><img src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/icon-cart.svg?v=1612941210" class="icon-cart" alt="Cart"><span class="cart-count">{{ cart.item_count }}</span></a>
              </li> -->
              {% endif %}
              <!-- @dominic: End – Old Cart -->
              {% comment %}
              {% if settings.header-navigation-location == 'header' or settings.header-navigation-location == 'below-header' %}
              {% if shop.customer_accounts_enabled %}
              <li>
                <a href="/account" class="account-link">&#57348;</a>
              </li>
              {% endif %}
              {% endif %}
              {% endcomment %}
              
              {% if currency_selector == true or locale_selector == true %}
                <li class="currencies">
                  {% render 'localization-switcher',
                          additional_classes: 'header-menu__disclosure',
                          id: 'header__selector-form',
                          currency_selector: currency_selector,
                          locale_selector: locale_selector
                  %}
                </li>
              {% endif %}

              {% if shop.customer_accounts_enabled %}
                <li class="header-account">
                  <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}<span class="icon-user-icon"></span>{% endif %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <div style="display:none;">
            {%- comment -%}
              @dominic: this cart from the theme is not in use
              due to slide-cart integration, therefore id has been changed to include a `-theme` suffix to avoid conflict
            {%- endcomment -%}
            <form action="/cart" method="post" id="cart-theme">
              <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
                <li class="mm-subtitle slideout-title">
                  <p class="cart_title">Your Cart</p>
                  <a class="continue ss-icon" href="#cart">x</a>
                </li>

                {% if cart.item_count == 0 %}
                <li class="empty_cart">{{ 'cart.general.empty' | t }}</li>
                {% else %}
                {% for item in cart.items %}
                <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
                  <p class="mm-counter">
                    
                    {%- comment -%}
                      @dominic: this cart from the theme is not in use
                      due to slide-cart integration, therefore id has been changed to include a `-theme` suffix to avoid conflict
                    {%- endcomment -%}
                    <span class="ss-icon minus">&#x002D;</span><input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}-theme" value="{{ item.quantity }}" /><span class="ss-icon plus">&#x002B;</span>
                  </p>
                  <a href="{{ item.url }}">
                    {% if item.image %}
                    <div class="cart_image">
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                    </div>
                    {% endif %}
                    <div class="cart_item_details">
                      <div class="item_title">{{ item.title }}</div>
                      <span class="original price">
                        {% if item.variant.compare_at_price > item.variant.price %}
                          {{ item.variant.compare_at_price | money }}
                        {% endif %}
                      </span>
                      <strong class="price">{{ item.price | money }}</strong>
                    </div>
                  </a>
                </li>
                {% endfor %}
                <li class="mm-label">
                  <p class="mm-counter">{{ cart.total_price | money }}</p>
                  <a href="/cart">
                    <strong>{{ 'layout.general.subtotal' | t }}</strong>
                  </a>
                </li>

                <li class="mm-subtitle clearfix">
                  {% if settings.display_special_instructions %}
                  <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if settings.display_tos_checkbox %}
                  <p class="tos">
                    {%- comment -%}
                      @dominic: this cart from the theme is not in use
                      due to slide-cart integration, therefore id has been changed to include a `-theme` suffix to avoid conflict
                    {%- endcomment -%}
                    <input type="checkbox" class="tos_agree" id="sliding_agree-theme" required />
                    <label class="tos_label" for="sliding_agree">
                      {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                  </p>
                  {% endif %}

                  <input type="submit" id="cart-submit" class="action_button right checkout_button" value="{{ 'layout.general.checkout' | t }}" />
                  <a href="javascript:void(0)" class="action_button edit_cart right">{{ 'layout.general.continue_shopping' | t }}</a>
                </li>
                {% endif %}
              </ul>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- @dominic: End – Header from previous theme -->
  
  
  <section class="section">
    <div class="container dropdown__wrapper">
      <div class="one-sixth column logo {% if section.settings.logo != blank and section.settings.logo_home != blank %}secondary-logo--true{% endif %}">
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
          {% if section.settings.logo != blank or section.settings.logo_home != blank %}
            {% if section.settings.logo != blank %}
              {% render 'image-element',
                      image: section.settings.logo,
                      alt: shop.name,
                      additional_classes: 'primary_logo'
              %}

              {% if section.settings.logo_home != blank %}
                {% render 'image-element',
                        image: section.settings.logo_home,
                        alt: shop.name,
                        additional_classes: 'secondary_logo'
                %}
              {% endif %}
            {% else %}
              {% render 'image-element',
                      image: section.settings.logo_home,
                      alt: shop.name,
                      additional_classes: 'primary_logo'
              %}
            {% endif %}
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>

      <div class="five-sixths columns nav mobile_hidden">
        <ul class="header__navigation menu {{ section.settings.menu_alignment }}" role="navigation" data-header-navigation>
          {%- assign main_menu = linklists[section.settings.main_linklist] -%}

          {% for link in main_menu.links %}
            {% if linklists[link.handle] == empty %}
              <li class="header__nav-item" data-header-nav-item>
                <a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a>
              </li>
            {% else %}
              {%- assign column_threshold = section.settings.dropdown_column_links -%}
              {%- assign count = 0 -%}
              {%- assign split = false -%}

              {% for sub_link in link.links %}
                {%- assign count = count | plus: 1 -%}
              {% for sub_sub_link in sub_link.links %}
                {%- assign count = count | plus: 1 -%}
              {% endfor %}
            {% endfor %}

            <li class="header__nav-item sub-menu" aria-haspopup="true" aria-expanded="false" data-header-nav-item>
              <a href="{{ link.url }}" class="dropdown-link {% if link.active or link.child_active %}active{% endif %}">{{ link.title }}
                <span class="icon-arrow-down"></span></a>
                <div class="dropdown animated fadeIn {% if count > column_threshold %}dropdown-wide {% if forloop.last %}dropdown-left{% endif %}{% endif %}">
                  <div class="dropdown-links">
                    <ul>
                      {%- assign count = 0 -%}
                      {%- assign split = false -%}

                      {% for sub_link in link.links %}
                        {%- assign count = count | plus: 1 -%}

                        <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>

                        {% for sub_sub_link in sub_link.links %}
                          {%- assign count = count | plus: 1 -%}

                          <li>
                            <a class="sub-link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                          </li>
                        {% endfor %}

                        {% if count >= column_threshold and split == false %}
                          {%- assign split = true -%}
                          </ul>
                          <ul>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        {% comment %}
        <ul class="header__secondary-navigation menu right" data-header-secondary-navigation>
          {% if currency_selector == true or locale_selector == true %}
            <li class="currencies">
              {% render 'localization-switcher',
                      additional_classes: 'header-menu__disclosure',
                      id: 'header__selector-form',
                      currency_selector: currency_selector,
                      locale_selector: locale_selector
              %}
            </li>
          {% endif %}

          {% if shop.customer_accounts_enabled %}
            <li class="header-account">
              <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}<span class="icon-user-icon"></span>{% endif %}</a>
            </li>
          {% endif %}

          <li class="cart">
            <a href="#cart" class="icon-cart cart-button"><span>{{ cart.item_count }}</span></a>
            <a href="{{ routes.cart_url }}" class="icon-cart cart-button no-js-only"><span>{{ cart.item_count }}</span></a>
          </li>
        </ul>
        {% endcomment %}
      </div>
    </div>
  </section>
</div>

<style>
  .promo-banner {
    background-color: {{ section.settings.announcement_bg_color }};
    color: {{ section.settings.announcement_text_color }};
  }

  .promo-banner a,
  .promo-banner__close {
    color: {{ section.settings.announcement_text_color }};
  }

  div.logo img {
    width: auto;
    max-width: 100%;
    max-height: {{ section.settings.logo_height }}px;
    display: block;
  }

  .header div.logo a {
    padding-top: {{ section.settings.logo_top_padding }}px;
    padding-bottom: {{ section.settings.logo_top_padding }}px;
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: {{ section.settings.menu_top_padding }}px;
    }
  {% endif %}

  @media only screen and (max-width: 798px) {
    div.content,
    .shopify-policy__container,
    .shopify-email-marketing-confirmation__container {
      padding-top: 20px;
    }
  }

  {% unless section.settings.search_enabled %}
    #nav .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
      margin-top: 50px;
    }
  {% endunless %}
</style>

{% schema %}
  {
    "name": "Header",
    "class": "shopify-section--header",
    "settings": [
      {
        "type": "checkbox",
        "id": "fixed_header",
        "label": "Enable fixed ('sticky') header",
        "default": true
      },
      {
        "type": "range",
        "id": "content_top_padding",
        "label": "Content area top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 50,
        "max": 300,
        "step": 5,
        "default": 150,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement"
      },
      {
        "type": "checkbox",
        "id": "promo_home_page",
        "label": "Home page only"
      },
      {
        "type": "text",
        "id": "promo_text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "announcement_bg_color",
        "label": "Bar",
        "default": "#1b1f23"
      },
      {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text",
        "default": "#6b6b6b"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "410px wide recommended"
      },
      {
        "type": "image_picker",
        "id": "logo_home",
        "label": "Secondary logo over content (optional)",
        "info": "410px wide recommended"
      },
      {
        "type": "image_picker",
        "id": "logo_mobile",
        "label": "Mobile logo (optional)",
        "info": "410px wide recommended"
      },
      {
        "type": "range",
        "id": "logo_height",
        "label": "Logo display height",
        "step": 5,
        "min": 15,
        "max": 205,
        "default": 100,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_top_padding",
        "label": "Logo top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 0,
        "max": 30,
        "default": 5,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_linklist_1",
        "label": "Mobile menu #1",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_linklist_2",
        "label": "Mobile menu #2",
        "default": "main-menu"
      },
      {
        "type": "range",
        "id": "dropdown_column_links",
        "label": "Number of drop-down links in first column",
        "min": 5,
        "max": 30,
        "default": 10
      },
      {
        "type": "select",
        "id": "dropdown_position",
        "label": "Drop-down position",
        "default": "below_header",
        "options": [
          {
            "value": "below_parent",
            "label": "Below parent link"
          },
          {
            "value": "below_header",
            "label": "Below header"
          }
        ]
      },
      {
        "type": "select",
        "id": "menu_alignment",
        "label": "Menu alignment",
        "default": "align_left",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "align_right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "menu_top_padding",
        "label": "Navigation top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label": "Show search",
        "default": true
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ]
  }
{% endschema %}
